
.Views {
  width: 100%;
  display: flex;
}

.container {
  width: 100%;
}

.form {
  width: 80%;
}


.form-input {
  width: 98%;
  margin: 5px;
  position: relative;
}
  
.form-input input::placeholder {
  color: gray;
}

.form-input input {
  width: 100%;
  font-size: 0.9rem;
  padding: 5px;
  outline: none;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 5px;
}
